﻿@model IEnumerable<WEBMobileFoodSchedule.Models.FoodTrucks>


<table class="table table-bordered">
    <thead>
        <tr class="info">
            <th class="text-center" width="20%">Applicant</th>
            <th class="text-center" width="10%">Day</th>
            <th class="text-center" width="10%">Starttime</th>
            <th class="text-center" width="10%">Endtime</th>
            <th class="text-center" width="20%">Location</th>
            <th class="text-center" width="30%">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) { 
        <tr>
            <td>@item.applicant</td>
            <td>@item.dayofweekstr</td>
            <td>@item.start24</td>
            <td>@item.end24</td>
            <td>@item.location</td>
            <td>@item.optionaltext</td>
        </tr>
        }
    </tbody>
</table>