﻿@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <label>Day:</label>
            <select class="form-control input-sm" id="day">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>
        <div class="col-xs-2">
            <label>Time:</label>
            <select class="form-control input-sm" id="time">
                <option value="00:00">00:00</option>
                <option value="01:00">01:00</option>
                <option value="02:00">02:00</option>
                <option value="03:00">03:00</option>
                <option value="04:00">04:00</option>
                <option value="05:00">05:00</option>
                <option value="06:00">06:00</option>
                <option value="07:00">07:00</option>
                <option value="08:00">08:00</option>
                <option value="09:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="14:00">14:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option>
                <option value="20:00">20:00</option>
                <option value="21:00">21:00</option>
                <option value="22:00">22:00</option>
                <option value="23:00">23:00</option>
            </select>
        </div>
        <div class="col-xs-2">
            <label></label><br />
            <button type="button" class="btn btn-primary btn-sm" onclick="GetListFoodTrucks();"><i class="glyphicon glyphicon-search"></i> Search</button>
        </div>
    </div><br />
    <div class="row">
        <div id="tableFoodTrucks" class="col-xs-12">
          
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            GetListFoodTrucks();
        });

        function GetListFoodTrucks() {
            $("#tableFoodTrucks").load("/Home/GetListFoodTrucks?day=" + $("#day").val() + "&time=" + $("#time").val());
            return false;
        }

    </script>

}