﻿@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 text-left">
            <button type="button" class="btn btn-success btn-sm" onclick="CreateJuguete();"><i class="glyphicon glyphicon-plus"></i> Nuevo Registro</button>
        </div>
    </div><br />
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="info">
                        <th class="text-center" width="10%">Acciones</th>
                        <th class="text-center" width="5%">Id</th>
                        <th class="text-center" width="20%">Nombre</th>
                        <th class="text-center" width="25%">Descripción</th>
                        <th class="text-center" width="10%">Edad</th>
                        <th class="text-center" width="10%">Precio</th>
                        <th class="text-center" width="20%">Compañia</th>
                    </tr>
                </thead>
                <tbody id="TableJuguetes">
                </tbody>
            </table>
        </div>
        <div class="col-xs-4" >
            <form id="frmRegistro" style="display:none">
                <fieldset>
                    <legend id="txtTitle" class="text-center"></legend>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Nombre:</label>
                            <input type="hidden" id="Id" class="form-control input-sm" />
                            <input type="text" id="Nombre" class="form-control input-sm" required="required"/>
                        </div>
                        <div class="col-xs-4">
                            <label>Edad:</label>
                            <input type="number" id="RestriccionEdad" class="form-control input-sm" />
                        </div>
                        <div class="col-xs-4">
                            <label>Precio:</label>
                            <input type="number" id="Precio" class="form-control input-sm" required="required" />
                        </div>
                        <div class="col-xs-4">
                            <label>Compañia:</label>
                            <input type="text" id="Compania" class="form-control input-sm" required="required" />
                        </div>
                        <div class="col-xs-12">
                            <label>Descripción:</label>
                            <textarea type="text" id="Descripcion" class="form-control input-sm" rows="2"></textarea>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <button type="submit" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-save"></i> Guardar</button>
                            <button type="button" class="btn btn-default btn-sm" onclick="ResetFormulario();"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function () {
            GetListadoJuguetes();
            $("#frmRegistro").submit(SaveJuguete);
        });

        function GetListadoJuguetes() {
            $.ajax({
                url:"https://localhost:44369/api/GetListJuguetes" ,
                method: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.msg == "ok") {
                        $('tbody').empty();
                        $.each(response.data, function (i, item) {
                            console.log(item);
                            var tr = $('<tr>').append(
                                $('<td class="text-center">').html('<button type="button" class="btn btn-primary btn-xs" onclick="EditJuguete(' + item.Id + ')"><i class="glyphicon glyphicon-edit"></i></button> <button type="button" class="btn btn-danger btn-xs" onclick="DeleteJuguete(' + item.Id + ')"><i class="glyphicon glyphicon-trash"></i></button>'),                             
                                $('<td>').text(item.Id),
                                $('<td>').text(item.Nombre),
                                $('<td>').text(item.Descripcion),
                                $('<td>').text(item.RestriccionEdad),
                                $('<td class="text-center">').text('$' + item.Precio),
                                $('<td>').text(item.Compania));
                            $('tbody').append(tr);

                        });
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });

            return false;
        }

        function CreateJuguete() {
            ResetFormulario();
            $("#frmRegistro").show();
            $("#txtTitle").text("Nuevo Registro");
            return false;
        }

        function EditJuguete(id) {
            $("#frmRegistro").show();
            $("#txtTitle").text("Editar Registro");

            $.ajax({
                url: "https://localhost:44369/api/GetJuguete?id=" + id,
                method: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.msg == "ok") {

                        console.log(response.data);
                        $("#Id").val(response.data.Id);
                        $("#Nombre").val(response.data.Nombre);
                        $("#Descripcion").val(response.data.Descripcion);
                        $("#RestriccionEdad").val(response.data.RestriccionEdad);
                        $("#Precio").val(response.data.Precio);
                        $("#Compania").val(response.data.Compania);

                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
            return false;
        }

        function SaveJuguete() {
            var url = "";
            var method = "";

            if ($("#Id").val() == 0) {
                url = "https://localhost:44369/api/CreateJuguete";
                method = "POST";
            }
            else if ($("#Id").val() > 0) {
                url = "https://localhost:44369/api/EditJuguete";
                method = "PUT";
            }
            $.ajax({
                url: url,
                method: method,
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    Id: $("#Id").val(),
                    Nombre: $("#Nombre").val(),
                    Descripcion: $("#Descripcion").val(),
                    RestriccionEdad: $("#RestriccionEdad").val(),
                    Precio: $("#Precio").val(),
                    Compania: $("#Compania").val()
                }),
                success: function (response) {
                    if (response.msg == "ok") {
                        GetListadoJuguetes();
                        ResetFormulario();
                    }
                },
                error: function (error) {
                    alert(error);
                }
            });
            return false;
        }

        function DeleteJuguete(id) {
            var con = confirm("Esta seguro de eliminar el registro");
            if (con) {
                $.ajax({
                    url: "https://localhost:44369/api/DeleteJuguete?id=" + id,
                    method: "DELETE",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (response.msg == "ok") {
                            GetListadoJuguetes();
                        }
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
            return false;
        }

        function ResetFormulario() {
            $("#frmRegistro").hide();
            $("#Id").val(0);
            $("#Nombre").val("");
            $("#Descripcion").val("");
            $("#RestriccionEdad").val("");
            $("#Precio").val("");
            $("#Compania").val("");
            return false;
        }
    </script>    
    
}